.body {
    color: rgb(222, 222, 222);
    color: rgb(81, 81, 81);
    color: rgb(44, 44, 44);
    color: rgb(21, 21, 21);

    color: rgb(255, 244, 234);
    color: rgb(239, 229, 220);
    color: rgb(44, 44, 44);
    color: rgb(21, 21, 21);
}